<!DOCTYPE html>
<html>

<head>
    <title>404</title>

    {% include 'header.html' %}
    
    <script src="https://use.fontawesome.com/8172e32e19.js"></script>

    <style>
        .fa-6 {
            font-size: 20rem;
        }
    </style>
</head>

<body>
</body>

<div class="container center-align">
  <h1>404</h1>
    <div>
        <h1>Whoops! That page doesn't exist.</h1>
        <i class="fa fa-frown-o fa-6"></i>
        <br>
        <a class="btn btn-info" href="/">Go back?</a>
    </div>
    <br>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sC75aU47GRk?autoplay=1" frameborder="0" allowfullscreen>

        </iframe>
    </div>

</div>

</html>
