<!DOCTYPE html>
<html>

    <head>
        <title>OCDX Browse</title>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        {% include 'header.html' %}

        <script>
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                var id_token = googleUser.getAuthResponse().id_token;
                // TODO Send id_token to python Backend (This is in place of their user id for authentication)
                // $.ajax({
                //   type: "POST",
                //   url: 'insert.php',
                //   data:{
                //     userID: id_token
                //   }
                // });
                //Need url for insert
                $("#author-name").value(profile.getName());
            }
        </script>
    </head>

    <body>
        {% include 'nav.html' %}
        <main>
            <div class="section">
                <div class="container">
                    <div class="row center">
                        {% include 'searchBox.html' %}
                        <br>
                        <br>
                        <br>
                        <br>
                        <div id="searchResults">
                            <table id="manifest-table" class="highlight">
                                <thead>
                                    <tr>
                                        <th data-field="title">Title</th>
                                        <th data-field="author">Author</th>
                                        <th data-field="dateCreated">Date Created</th>
                                        <th data-field="comments">Comments</th>
                                        <th data-field="upload">Upload Manifest</th>
                                        <th data-field="view">View Manifest</th>
                                    </tr>
                                </thead>

                                {% for r in result %}
                                <tr>
                                    <td>{{ r['title'] }} </td>
                                    <td>{{ r['author'] }} </td>
                                    <td>{{ r['date'] }}</td>
                                    <td>{{ r['comments'] }} </td>
                                    <td>
                                        <form action="uploadFile.html" method=GET>
                                            <input type=hidden name=id value={ { r[ '_id'] }}>
                                            <input type=submit class="btn" value="Upload">
                                        </form>
                                    </td>
                                    <td>
                                        <form action="uploads.html" method=POST>
                                            <input type=hidden name=id value={ { r[ '_id']}}>
                                            <input type=submit class="btn" value="View">
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>

</html>
