<!DOCTYPE html>
<html>

    <head>
        <title>View Dataset</title>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        {% include 'header.html' %}
        <script>
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                var id_token = googleUser.getAuthResponse().id_token;
                $("#author-name").value(profile.getName());
            }
        </script>
    </head>

    <body>
        {% include 'nav.html' %}
        <main>
            <div id="edit-modal" class="modal center-align">
                <div class="modal-content"></div>
                <hr>
                <div id="modal-footer"></div>
            </div>
            <div class="wrapper">
                <div class="header-row">
                    <h5 id="dataset-title" class="header center teal-text text-lighten-2">Manifest</h5>
                    <div class="corner-buttons">
                        <a id="edit-button" class="waves-effect waves-light btn-flat"><i class="material-icons left">mode_edit</i>Edit</a>
                    </div>
                    <div class="corner-buttons save-cancel">
                        <a id="cancel-button" class="waves-effect waves-light btn-flat"><i class="material-icons left">delete</i>Cancel</a>
                        <a id="save-button" class="waves-effect waves-light btn-flat"><i class="material-icons left">delete</i>Save</a>
                    </div>
                </div>
                <div class="row">
                    <form class="col s12">


                        <fieldset class="row view-section">
                            <legend>Manifest</legend>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <input id="standardVersion" class="editable" type="text" readonly>
                                    <label class="active" for="standardVersion">Standard Version</label>
                                </div>
                            </div>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <input id="id" class="editable" type="text" readonly>
                                    <label class="active" for="id">ID</label>
                                </div>
                            </div>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <input id="creator" class="editable" type="text" readonly>
                                    <label class="active" for="creator">Creator</label>
                                </div>
                            </div>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <input id="dateCreated" class="editable" type="text" readonly>
                                    <label class="active" for="dateCreated">Date Created</label>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="comment" class="editable" type="text" readonly>
                                    <label class="active" for="comment">Comment</label>
                                </div>
                            </div>
                            <fieldset class="inner-wrapper row">
                                <legend>Research Object</legend>
                                <div class="col s12 l6">
                                    <div class="input-field">
                                        <input id="title" class="editable" type="text" readonly>
                                        <label class="active" for="title">Title</label>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field">
                                        <textarea id="abstract" class="materialize-textarea editable" readonly></textarea>
                                        <label for="abstract">Abstract</label>
                                    </div>
                                </div>
                                <div class="date-placeholder">
                                    <div id="add-date-wrapper" class="col s6 m3 add-field"><a id="add-date" class="edit-modal-button" href="#edit-modal"><i class="small material-icons">add_circle_outline</i></a></div>
                                </div>
                            </fieldset>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <input id="oversight" class="editable" type="text" readonly>
                                    <label class="active" for="oversight">Privacy Ethics - Oversight</label>
                                </div>
                            </div>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <input id="informedConsent" class="editable" type="text" readonly>
                                    <label class="active" for="InformedConsent">Informed Consent</label>
                                </div>
                            </div>
                            <div class="anonymized-data-placeholder">
                                <!-- Anonymized Data is created in here-->
                            </div>
                            <div class="col s12 l6">
                                <div class="input-field">
                                    <input id="privacyConsiderations" class="editable" type="text" readonly>
                                    <label class="active" for="privacyConsiderations">Privacy Considerations</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="row view-section">
                            <legend>Provenance</legend>
                            <div class="col s12">
                                <div class="input-field">
                                    <textarea id="narrative" class="materialize-textarea editable" readonly></textarea>
                                    <label for="narrative">Narrative</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="row view-section">
                            <legend>Publications</legend>
                            <div class="publications-placeholder">
                            </div>
                        </fieldset>
                        <fieldset class="row view-section">
                            <legend>Locations</legend>
                            <div class="locations-placeholder">
                            </div>
                        </fieldset>

                        <div class="table-wrapper">
                            <label>Files</label>
                            <div class="custom-table-wrapper">
                                <table id="files-table" class="bordered responsive-table">
                                    <!-- File table is created in here-->
                                </table>
                            </div>
                        </div>

                        <fieldset class="row view-section">
                            <legend>Permissions</legend>
                            <div class="col s12">
                                <div class="input-field">
                                    <input id="permission" class="editable" type="text" readonly>
                                    <label class="active" for="permission">Permission</label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="row view-section">
                            <legend>Dates</legend>
                            <div class="col s6 m3">
                                <div class="input-field">
                                    <input id="dates2" class="editable" type="text" readonly>
                                    <label id="dates2-label" class="active" for="dates2">Date</label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="table-wrapper">
                            <label>Creators</label>
                            <div class="custom-table-wrapper">
                                <table id="creators-table" class="bordered responsive-table">
                                    <!-- Creators table is created in here-->
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>

</html>
<script>
    var prevValues;
    var prevValue;

    $('#edit-button').on('click', function() {
        prevValues = getJsonValues();
        $('.add-field').css('display', 'inherit');
        $('.editable').attr('readonly', false);
        $('.editable').css('border-bottom', '1px solid #26a69a');
        $('.editable').css('box-shadow', '0 1px 0 0 #26a69a');
        $(this).css('display', 'none');
        $('.save-cancel').css('display', 'inherit');
    });

    $('.editable').on('focus', function() {
        if($('.editable').is('[readonly]')){
        }
        else {
            prevValue = $(this).val();
        }
    });
    $('.editable').on('focusout', function(){
        if($('.editable').is('[readonly]')){
        }
        else {
            var curr = $(this).val();
            /*
            if(curr !== prevValue){
                $(this).css('border-bottom', '1px solid #fa6a74');
                $(this).css('box-shadow', '0 1px 0 0 #fa6a74');
            }
            */
        }
    });

    $('#cancel-button').on('click', function() {
        appendJsonValues(prevValues);
    });

    $('.save-cancel').on('click', function() {
        $('.add-field').css('display', '');
        $('.editable').attr('readonly', true);
        $('.editable').css('border-bottom', '');
        $('.editable').css('box-shadow', '');
        $(this).css('display', 'none');
        $('#edit-button').css('display', 'inherit');
    });


    $.getJSON('/uploads/{{ filePath }}', function(data) {
        console.log("hit");
        appendJsonValues(data);
        Materialize.updateTextFields();
    });

    window.onresize = function() {
        $('#abstract').trigger('autoresize');
        $('#anonymized-data').trigger('autoresize');
        $('#narrative').trigger('autoresize');
    }

    $('#add-date').on('click', function(){
        $('#edit-modal').css('max-width', '300px');
        clearModal();
        $('#edit-modal .modal-content').append(
            '<h5 class="teal-text text-lighten-2">Add Date</h5><hr>' +
            '<div class="input-field col s12">' +
                '<select id="modal-date-select" class="browser-default">' +
                    '<option value="" disabled selected>Select Date Label</option>' +
                    '<option value="Start Date" data-date-label="start">Start</option>' +
                    '<option value="End Date" data-date-label="end">End</option>' +
                    '<option value="Retrieved Date" data-date-label="retrieved">Retrieved</option>' +
                    '<option value="Created Date" data-date-label="created">Created</option>' +
                    '<option value="No Assertion" data-date-label="no-assertion">No Assertion</option>' +
                '</select>' +
            '</div>' +
            '<div class="col s12">' +
                '<div class="input-field" style="margin: 20px 5px 0;">' +
                    '<input id="modal-date-input" class="editable datepicker" type="date">' +
                    '<label class="active" for="modal-date-input">Date</label>' +
                '</div>' +
            '</div>');
        $('#modal-footer').append(
            '<a href="#!" id="custom-date-save" class="modal-action modal-close waves-effect waves-green btn-flat float-left">Cancel</a>' +
            '<a href="#!" class="modal-action modal-date-add modal-close waves-effect waves-green btn-flat float-right">Add</a>');
        $('select').material_select();
        Materialize.updateTextFields();
    });

    $('#modal-footer').on('click', '.modal-date-add', function(){
        var label = $('#modal-date-select').val();
        var date = $('#modal-date-input').val();
        var count = $('.date-placeholder .input-field').length;
        var hiddenLabel = $('#modal-date-select option:selected').data('date-label');
        $('#add-date-wrapper').before('<div class="input-field date-input-wrapper col s6 m3"><input id="date-input-'+ count +'" class="date-input editable" type="text" value="'+ date +'"><label id="date-label-'+ count +'" class="active date-label" data-date-label="'+ hiddenLabel +'" for="date-input-'+ count +'">'+ label +'</label></div>');
        $('.editable').css('border-bottom', '1px solid #26a69a');
        $('.editable').css('box-shadow', '0 1px 0 0 #26a69a');
    });

    $('.anonymized-data-placeholder').on('click', '#add-anonymized', function(){
        $('#edit-modal').css('max-width', '800px');
        clearModal();   
        $('#edit-modal .modal-content').append(
            '<h5 class="teal-text text-lighten-2">Anonymized Data</h5><hr>' +
            '<div class="input-field col s12">' +
                '<p><input type="checkbox" id="names-anonymized" data-anonymized="names-anonymized" value="names anonymized" class="filled-in"/><label class="checkbox-label" for="names-anonymized">Names Anonymized</label></p>' +
                '<p><input type="checkbox" id="names-excluded" data-anonymized="names-excluded" value="names excluded" class="filled-in"/><label class="checkbox-label" for="names-excluded">Names Excluded</label></p>' +
                '<p><input type="checkbox" id="date-of-birth" data-anonymized="date-of-birth" value="date of birth anonymized" class="filled-in"/><label class="checkbox-label" for="date-of-birth">Date of Birth Anonymized</label></p>' +
                '<p><input type="checkbox" id="date-of-death" data-anonymized="date-of-death" value="date of death anonymized" class="filled-in"/><label class="checkbox-label" for="date-of-death">Date of Death Anonymized</label></p>' +
                '<p><input type="checkbox" id="identifying-numbers" data-anonymized="identifying-numbers" value="identifying numbers anonymized" class="filled-in"/><label class="checkbox-label" for="identifying-numbers">Identifying Numbers Anonymized</label></p>' +
                '<p><input type="checkbox" id="race-and-ethnicity" data-anonymized="race-and-ethnicity" value="race and ethnicity categories anonymized" class="filled-in"/><label class="checkbox-label" for="race-and-ethnicity">Race and Ethnicity Categories Anonymized</label></p>' +
                '<p><input type="checkbox" id="religious-affiliation" data-anonymized="religious-affiliation" value="religious affiliation anonymized" class="filled-in"/><label class="checkbox-label" for="religious-affiliation">Religious Affiliation Anonymized</label></p>' +
                '<p><input type="checkbox" id="health-and-wellness" data-anonymized="health-and-wellness" value="health and wellness data anonymized" class="filled-in"/><label class="checkbox-label" for="health-and-wellness">Health and Wellness Data Anonymized</label></p>' +
                '<p><input type="checkbox" id="location-or-gps" data-anonymized="location-or-gps" value="location or GPS coordinates anonymized" class="filled-in"/><label class="checkbox-label" for="location-or-gps">Location or GPS Coordinates Anonymized</label></p>' +
                '<p><input type="checkbox" id="anonymized-other" data-anonymized="other" value="other" class="filled-in"/><label class="checkbox-label" for="anonymized-other">Other</label></p>' +
            '</div>');
        $('select').material_select();
        $('#modal-footer').append(
            '<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat float-left">Cancel</a>' +
            '<a href="#!" id="custom-anonymized-save" class="modal-action modal-close waves-effect waves-green btn-flat float-right">Add</a>');
        Materialize.updateTextFields();
        var myObject = getJsonValues();
        var noAssertionCount;
        $.each(myObject.manifests.manifest.anonymizedData, function(){
            if(this.label == "names anonymized"){$('#names-anonymized').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "names excluded"){$('#names-excluded').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "date of birth anonymized"){$('#date-of-birth').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "date of death anonymized"){$('#date-of-death').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "identifying numbers anonymized"){$('#identifying-numbers').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "race and ethnicity categories anonymized"){$('#race-and-ethnicity').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "religious affiliation anonymized"){$('#religious-affiliation').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "health and wellness data anonymized"){$('#health-and-wellness').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "location or GPS coordinates anonymized"){$('#location-or-gps').attr('checked', 'checked');noAssertionCount++}
            if(this.label == "other"){$('#anonymized-other').attr('checked', 'checked');noAssertionCount++}
        });
    });

    $('#modal-footer').on('click', '#custom-anonymized-save', function(){
        var array = [];
        $('.anonymized-data-placeholder').empty();
        var noAssertionCount = 0;
        $('input[data-anonymized]').each(function(){
            if($(this).is(':checked')){
                array.push($(this).val());
                noAssertionCount++;
            }
        });
        console.log('count: ' + noAssertionCount);
        if(noAssertionCount == 0){
            console.log('no assertion');
            $('.anonymized-data-placeholder').append('<div class="input-field col s12"><a id="add-anonymized" class="textarea-modal-button edit-modal-button" href="#edit-modal">Add/Remove</a><textarea id="anonymized-data" class="anonymized-data-input materialize-textarea" type="text" readonly>No Assertion</textarea><label id="anonymized-data-label class="active anonymized-data-label">Anonymized Data</label></div>');
        }
        else {
            $('.anonymized-data-placeholder').append('<div class="input-field col s12"><a id="add-anonymized" class="textarea-modal-button edit-modal-button" href="#edit-modal">Add/Remove</a><textarea id="anonymized-data" class="anonymized-data-input materialize-textarea" type="text" readonly>'+ array.join(', ') +'</textarea><label id="anonymized-data-label class="active anonymized-data-label">Anonymized Data</label></div>');
        }
        Materialize.updateTextFields();
        $('#anonymized-data').trigger('autoresize');
    });

    function getJsonValues() {
        var standardVersion = $('#standardVersion').val();
        var id = $('#id').val();
        var creator = $('#creator').val();
        var dateCreated = $('#dateCreated').val();
        var comment = $('#comment').val();
        var title = $('#title').val();
        var abstract = $('#abstract').val();
        var dateArray = [];
        $('.date-input').each(function() {
            dateArray.push({
                date: $(this).val(),
                label: $('label[for=' + $(this).attr('id') + ']').data('date-label')
            })
        });
        var oversight = $('#oversight').val();
        var informedConsent = $('#informedConsent').val();
        var myArray = $('.anonymized-data-input').val().split(", ");
        var anonymizedDataArray = [];
        $.each(myArray,function(i){
            anonymizedDataArray.push({
                label: myArray[i]
            })
        });
        var privacyConsiderations = $('#privacyConsiderations').val();
        var narrative = $('#narrative').val();
        var publicationsArray = [];
        $('.publication-input').each(function() {
            publicationsArray.push({
                publication: $(this).val()
            })
        });
        var locationsArray = [];
        $('.location-input').each(function() {
            locationsArray.push({
                location: {
                    url: $(this).val(),
                    comment: $(this).siblings('label').text()
                }
            })
        });
        var filesArray = [];
        $('.file-input').each(function() {
            filesArray.push({
                file: {
                    name: $(this).children('.file-name').text()
                },
                format: $(this).children('.file-format').text(),
                abstract: $(this).children('.file-abstract').text(),
                size: $(this).children('.file-size').text(),
                url: $(this).children('.file-url').text(),
                checksum: $(this).children('.file-checksum').text()
            })
        });
        var permission = $('#permission').val();
        var dates2 = $('#dates2').val();
        var dates2Label = $('#dates2Label').text();
        var creatorsArray = [];
        $('.creator-input').each(function() {
            creatorsArray.push({
                creator: {
                    name: $(this).children('.creator-name').text(),
                    role: {
                        label: $(this).children('.creator-role').text()
                    }
                },
                type: {
                    label: $(this).children('.creator-type').text()
                },
                contact: $(this).children('.creator-contact').text()
            })
        });

        var testObject = {
            "manifests": {
                "manifest": {
                    "standardVersions": standardVersion,
                    "id": id,
                    "creator": creator,
                    "dateCreated": dateCreated,
                    "comment": comment,
                    "researchObject": {
                        "title": title,
                        "abstract": abstract,
                        "dates": dateArray
                    },
                    "privacyEthics": {
                        "oversight": {
                            "label": oversight
                        }
                    },
                    "informedConsent": informedConsent,
                    "anonymizedData": anonymizedDataArray,
                    "privacyConsiderations": privacyConsiderations
                },
                "provenance": {
                    "narrative": narrative
                },
                "publications": publicationsArray,
                "locations": locationsArray,
                "files": filesArray,
                "permissions": permission
            },
            "dates": {
                "date": {
                    "date": dates2
                },
                "label": dates2Label
            },
            "creators": creatorsArray
        };
        console.log(testObject);

        return testObject;
    }

    function appendJsonValues(data) {
        $('#standardVersion').val(data.manifests.manifest.standardVersions);
        $('#id').val(data.manifests.manifest.id);
        $('#creator').val(data.manifests.manifest.creator);
        $('#dateCreated').val(data.manifests.manifest.dateCreated);
        $('#comment').val(data.manifests.manifest.comment);
        $('#title').val(data.manifests.manifest.researchObject.title);
        $('#abstract').val(data.manifests.manifest.researchObject.abstract);
        $('#abstract').trigger('autoresize');
        $('.date-input-wrapper').remove();
        var dateCount = 0;
        $.each(data.manifests.manifest.researchObject.dates, function(key, value){
            var hiddenLabel = value.label;
            var shownLabel;
            if(value.label == 'start'){
                shownLabel = 'Start Date';
            } else if(value.label == 'end'){
                shownLabel = 'End Date';
            } else if(value.label == 'retrieved'){
                shownLabel = 'Retrieved Date';
            } else if(value.label == 'created'){
                shownLabel = 'Created Date';
            } else {
                shownLabel = 'No Assertion';
            }
            var date = value.date;
            $('#add-date-wrapper').before('<div class="input-field date-input-wrapper col s6 m3"><input id="date-input-'+ dateCount +'" class="date-input editable  datepicker" type="date" value="'+ date +'" readonly><label id="date-label-'+ dateCount +'" class="active date-label" data-date-label="'+ hiddenLabel +'" for="date-input-'+ dateCount +'">'+ shownLabel +'</label></div>');
            dateCount++;
        });
        $('#oversight').val(data.manifests.manifest.privacyEthics.oversight.label);
        $('#informedConsent').val(data.manifests.manifest.informedConsent);
        $('.anonymized-data-placeholder').empty();
        var anonymizedString = [];
        $.each(data.manifests.manifest.anonymizedData, function(key, value){
            var anonymizedData = value.label;
            var string = anonymizedData;
            anonymizedString.push(string);
        });
        $('.anonymized-data-placeholder').append('<div class="input-field col s12"><a id="add-anonymized" class="textarea-modal-button edit-modal-button" href="#edit-modal">Add/Remove</a><textarea id="anonymized-data" class="anonymized-data-input materialize-textarea" type="text" readonly>'+ anonymizedString.join(', ') +'</textarea><label id="anonymized-data-label class="active anonymized-data-label">Anonymized Data</label></div>');
        $('#anonymized-data').trigger('autoresize');
        $('#privacyConsiderations').val(data.manifests.manifest.privacyConsiderations);
        $('#narrative').val(data.manifests.provenance.narrative);
        $('#narrative').trigger('autoresize');
        $('.publications-placeholder').empty();
        var publicationCount = 0;
        $.each(data.manifests.publications, function(key, value){
            var publication = value.publication;
            $('.publications-placeholder').append('<div class="input-field col s12 l6"><input id="publication-input-'+ publicationCount +'" class="publication-input" type="text" value="'+ publication +'" readonly><label id="publication-label-'+ publicationCount +'" class="active publication-label">Publication</label></div>');
            publicationCount++;
        });
        $('.locations-placeholder').empty();
        var locationCount = 0;
        $.each(data.manifests.locations, function(key, value){    
            var label = value.location.comment
            var location = value.location.url;
            $('.locations-placeholder').append('<div class="input-field col s12 m6"><input id="location-input-'+ locationCount +'" class="location-input" type="text" value="'+ location +'" readonly><label id="location-label-'+ locationCount +'" class="active location-label">'+ label +'</label></div>');
            locationCount++;
        });
        var numFiles = $(data.manifests.files).length;
        if (numFiles >= 1) {
            $('#files-table').empty();
            $('#files-table').append(
                "<thead>" +
                    "<tr>" +
                        "<th data-field='file_title'>Title</th>" +
                        "<th data-field='file_format'>Format</th>" +
                        "<th data-field='file_abstract'>Abstract</th>" +
                        "<th data-field='file_size'>Size</th>" +
                        "<th data-field='file_url'>URL</th>" +
                        "<th data-field='file_checksum'>Checksum</th>" +
                    "</tr>" +
                "</thead>" +
                "<tbody id='files-body'>" +
                "</tbody>"
            );
            for (var i = 0; i < numFiles; i++) {
                $('#files-body').append(
                    "<tr class='file-input'>" +
                        "<td class='file-name'>" + data.manifests.files[i].file.name + "</td>" +
                        "<td class='file-format'>" + data.manifests.files[i].format + "</td>" +
                        "<td class='file-abstract'>" + data.manifests.files[i].abstract + "</td>" +
                        "<td class='file-size'>" + data.manifests.files[i].size + "</td>" +
                        "<td class='file-url'>" + data.manifests.files[i].url + "</td>" +
                        "<td class='file-checksum'>" + data.manifests.files[i].checksum + "</td>" +
                    "</tr>"
                );
            }
        } else {
            $('#files-table').append('<p>There are no files in this manifest</p>')
        }
        $('#permission').val(data.manifests.permissions);
        $('#dates2').val(data.dates.date.date);

        var numCreators = $(data.creators).length;
        if (numCreators >= 1) {
            $('#creators-table').empty();
            $('#creators-table').append(
                "<thead>" +
                    "<tr>" +
                        "<th data-field='creator_name'>Name</th>" +
                        "<th data-field='creator_role'>Role</th>" +
                        "<th data-field='creator_type'>Type</th>" +
                        "<th data-field='creator_contact'>Contact</th>" +
                    "</tr>" +
                "</thead>" +
                "<tbody id='creators-body'>" +
                "</tbody>"
            );
            for (var j = 0; j < numCreators; j++) {
                $('#creators-body').append(
                    "<tr class='creator-input'>" +
                        "<td class='creator-name'>" + data.creators[j].creator.name + "</td>" +
                        "<td class='creator-role'>" + data.creators[j].creator.role.label + "</td>" +
                        "<td class='creator-type'>" + data.creators[j].type.label + "</td>" +
                        "<td class='creator-contact'>" + data.creators[j].contact + "</td>" +
                    "</tr>"
                );
            }
        } else {
            $('#files-table').append('<p>There are no files in this manifest</p>')
        }

        Materialize.updateTextFields();
    }
    function clearModal(){
        $('#edit-modal .modal-content').empty();
        $('#edit-modal #modal-footer').empty();
    }
</script>
