  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='materialize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='materialize.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='init.js') }}"></script>
  <script src="https://use.fontawesome.com/8172e32e19.js"></script>
  <meta name="google-signin-client_id" content="975332133771-b3j764j7oo8ikir7kiocd9uoush78mv2.apps.googleusercontent.com">
