<nav class="white" role="navigation">
    <div class="nav-wrapper container"> <a href="index.html" class="brand-logo">OCDX</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="browse.html">Browse</a></li>
            <li><a href="upload.html">Upload</a></li>
         <!--   <li><a href="edit.html">Edit</a></li>   -->
            <li><a href="profile.html">Profile</a></li>
            <li><a href="#loginModal">Login</a></li>
        </ul>
        <ul id="nav-mobile" class="right side-nav">
            <li><a href="browse.html">Browse</a></li>
            <li><a href="upload.html">Upload</a></li>
        <!--    <li><a href="edit.html">Edit</a></li>   -->
            <li><a href="profile.html">Profile</a></li>
            <li><a href="#loginModal">Login</a></li>
        </ul> <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> </div>
</nav>
<div id="loginModal" class="modal center-align">
    <div class="modal-content">
        <h3 class="teal-text text-lighten-2">Account Login</h3>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</div>
