/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 /* fallback */
body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
     padding-top: 10px;
 }

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
 }

.material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
}

nav ul a,
nav .brand-logo {
  color: #444;
}
.clear {
  clear: both;
}
nav {
  background-color: #444;
}
input:not([type])[readonly="readonly"] {
  color: inherit;
  border-bottom: 1px solid #9e9e9e;
}
.add-field {
  display: none;  
}
.row {margin-bottom: 15px;}
.header-row {position: relative;}
.corner-buttons {
  position: absolute;
  top: 0;
  right: 10px;
}
.header-row i {
  margin-right: 6px;
}
.header-row .btn {
  padding: 0 12px 0 8px;
  height: 30px;
  line-height: 30px;
}
.wrapper {
  width: 90%;
  margin: 30px auto 40px;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 15px;
  box-shadow: #aaa 0 0 4px 0;
}
.table-wrapper {margin: 20px 10px 40px}
.custom-table-wrapper {
  border: 1px solid #bbb;
  padding: 10px 10px 15px;
  background-color: #fafafa;
}
.flex-display {display: flex;}
textarea.materialize-textarea {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
input[type=text]{
  height: 2rem;
}
input[type=text][readonly="readonly"]+label,
textarea.materialize-textarea[readonly="readonly"]+label,
.input-field label {
  color: #9e9e9e;
}
input[type=text][readonly="readonly"],
textarea.materialize-textarea[readonly="readonly"], 
input[type=text] {
  color: inherit;
  border-bottom: 1px solid #9e9e9e;
}
.divider{
  display: none;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(35,35,35,1) 35%, rgba(35,35,35,1) 51%, rgba(68,68,68,1) 65%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(35%, rgba(35,35,35,1)), color-stop(51%, rgba(35,35,35,1)), color-stop(65%, rgba(68,68,68,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(35,35,35,1) 35%, rgba(35,35,35,1) 51%, rgba(68,68,68,1) 65%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(35,35,35,1) 35%, rgba(35,35,35,1) 51%, rgba(68,68,68,1) 65%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(35,35,35,1) 35%, rgba(35,35,35,1) 51%, rgba(68,68,68,1) 65%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(35,35,35,1) 35%, rgba(35,35,35,1) 51%, rgba(68,68,68,1) 65%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
legend {
  font-variant: small-caps;
  color: #fa6a74;
}
textarea.materialize-textarea,
input[type=text] {
  margin-bottom: 15px;
}
fieldset {padding-bottom: 0;}
.inner-wrapper {
  border: 1px solid #d9d9d9;
  margin-left: 5px;
  margin-right: 5px;
}
/*
.date-placeholder {
  margin-left: -10px;
  margin-right: -10px;
}
*/
.hidden {visibility: hidden;}
.label-wrapper {float: left;}
.input-wrapper {overflow: hidden;}
p {line-height: 2rem;}
.table-wrapper th {font-weight: 400;}
.table-wrapper td {font-weight: 300;}
td, th {padding: 2px 5px;}
td {cursor: default;}
.save-cancel {display: none;}
.edit-label {
  font-size: 1rem;
  float: left;
  margin-right: 10px;
  color: #333;
}
.edit-span {
  display: block;
  overflow: hidden;
}
input:not([type]) {
  height: auto;
  margin: 0;
}
textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  height: 67px;
}
.temp {margin-bottom: 51px;}
textarea:focus {outline: none;}
.searchLabel {
  margin-right: 1rem;
}

.button-collapse {
  color: #26a69a;
}
a {cursor: pointer;}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  padding-top: 0;
  background-color: #6ec4bb;
}
.page-footer .top {display: none;}
.footer-copyright .container {color: black;}
#table-header {
  overflow: hidden;
}
.g-signin2 {
  display: inline-flex;
  height: 54px;
  width: auto;
}
.img-circle {
    border-radius: 50%;
}
